{{define "home"}}
{{template "header"}}
        <table class="table">
            <thead>
                <tr>
                    <th style="visibility:collapse;">ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {{ range. }}
                <tr>
                    <td style="visibility:collapse;">{{.Id}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Description}}</td>
                    <td>
                        <a name="" id="" class="btn btn-warning" href="/edit?id={{.Id}}" role="button">Edit</a>
                        <a name="" id="" class="btn btn-danger" href="/delete?ID={{.Id}}" role="button">Delete</a>
                    </td>
                </tr>
            {{end}}
            </tbody>
         </table>
{{template "footer"}}
{{end}}